<% @english_site = Comfy::Cms::Site.find_by_locale("en") %>

<% Country.order(:name).all.each do |country| %>
  <div class="row accordion js-accordion">
    <h3 class="js-trigger accordion__header">
      <%= country.name %><i class="accordion__switch js-switch accordion__switch is-closed"></i>
    </h3>
    <div class="js-target accordion__body u-hide">
      <div class="row <%= 'row--push2x' if country.icca_sites.any? %>">
        <a class="link-with-icon u-bold" href="<%= cms_page_path(country.pages.where(site: @english_site).first) %>">
          <i class="fa fa-arrow-right link-with-icon__icon"></i><%= t("explore_page.see_country_page") %>
        </a>
      </div>

      <% if country.icca_sites.any? %>
        <h4 class="article__title--subparagraph"> <%= t("explore_page.icca_sites_in") %> <%= country.name %> </h4>

        <ul class="article__list article__list--less-margin">
          <% country.icca_sites.each do |icca_site| %>
            <li class="article__list-item">
              <% if icca_site.pages.where(site: @english_site).first %>
                <a class="article__link" href="<%= cms_page_path(icca_site.pages.where(site: @english_site).first) %>"><%= icca_site.name %></a>
              <% else %>
                <%= icca_site.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <aside class="alert alert--flex">
          <span class="fa-stack alert__icon alert__icon--info">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-info alert__icon-inner alert__icon-inner--info fa-stack-1x"></i>
          </span>

          <div>
            <h4 class="alert__title alert__title--info"><%= t("explore_page.no_sites") %></h4>
            <p class="alert__body"><%= t("explore_page.no_sites_text") %></p>
          </div>
        </aside>
      <% end %>
    </div>
  </div>
<% end %>

