<a class="breadcrumbs__link" href="/"><%= t("home") %></a> &gt;
<a class="breadcrumbs__link" href="<%= cms_page_path(@explore_page) %>"><%= t("icca_countries") %></a> &gt;
<a class="breadcrumbs__link" href="<%= cms_page_path(@cms_page.parent) %>"> <%= @cms_page.parent.label %></a> &gt;
<%= @cms_page.label %>
