<% if @cms_page.resources.any? || @cms_page.related_links.any? %>
  <div class="info-box info-box--fill-color info-box--padding-top-bottom">
    <% if @cms_page.resources.any? %>
      <h2 class="info-box__header header-with-delimiter header-with-delimiter--bold"><%= t("resources") %></h2>
      <div class="info-box__body">
        <% @cms_page.resources.each do |resource| %>
          <a class="u-block u-normal <%= bem('link-with-icon', 'push', 'pull-right')%>" href="<%= resource.file.url %>">
            <i class="link-with-icon__icon link-with-icon__icon--absolute fa fa-download"></i>
            <%= resource.label %>
          </a>
      <% end %>
      </div>
    <% end %>
    <% if @cms_page.related_links.any? %>
      <h2 class="info-box__header header-with-delimiter header-with-delimiter--bold"><%= t("links") %></h2>
      <div class="info-box__body">
        <% @cms_page.related_links.each do |related_link| %>
          <a class="u-block u-normal <%= bem('link-with-icon', 'push', 'pull-right')%>" href="<%= related_link.url %>">
            <i class="link-with-icon__icon link-with-icon__icon--absolute fa fa-external-link-square"></i>
            <%= related_link.label %>
          </a>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>
