<% content_for :right_column do %>
  <%= render 'comfy/admin/cms/sites/mirrors' %>
<% end %>
<div id="cms-uploader">
  <div id="cms-uploader-drag-drop-target"></div>
  <div class="page-header">
    <h2>
      Interest submissions
      <a href="<%= download_csv_admin_interest_submissions_path %>" class="pull-right btn btn-primary">Download as CSV</a>
    </h2>
  </div>
  <%= comfy_paginate @interest_submissions %>
  <ul class="list sortable">
    <%= render partial: 'interest_submission', collection: @interest_submissions %>
  </ul>
  <%= comfy_paginate @interest_submissions %>
</div>
