<div class="hero hero--push u-relative">
  <%= render partial: "shared/map", locals: {map_modifier: "map--main"} %>
  <div class="disclaimer">
    The designations employed and the presentation of material on this map do not
    imply the expression of any opinion whatsoever on the part of the Secretariat
    of the United Nations concerning the legal status of any country, territory,
    city or area or of its authorities, or concerning the delimitation of its
    frontiers or boundaries.
  </div>

  <div class="js-explore-target u-click-through o-overlay">
    <div class="col-eight u-no-click-through <%= bem('info-box', 'fff', 'hero') %>">
      <h1 class="info-box__header info-box__header--with-padding <%= bem('header-with-delimiter', 'bigger', 'bold', 'no-margin-bottom') %>">
        Welcome to the global ICCA Registry
        <button class="right"><i class="fa fa-times u-link-color"></i></button>
      </h1>

      <div class="<%= bem('info-box__body', 'no-padding', 'flex') %>">
        <div class="col-four u-flex">
          <div class="circle-story circle-story--flex">
            <img src="<%= image_path("Binantazan.jpg") %>" srcset="<%= with2x("Binantazan.jpg") %>" class="home-hero-1 <%= bem('circle-story__circle', 'above', 'smaller') %>">
            <p class="circle-story__content u-center">Learn about ICCAs (indigenous peoples' and community conserved territories and areas).</p>
            <%= link_to "Learn", cms_page_path(@about_page), class: "big-button u-push-top" %>
          </div>
        </div>
        <div class="col-four u-flex">
          <div class="circle-story circle-story--flex">
            <img src="<%= image_path("Fish.jpg") %>" srcset="<%= with2x("Fish.jpg") %>" class="home-hero-1 <%= bem('circle-story__circle', 'above', 'smaller') %>">
            <p class="circle-story__content u-center">Participate by registering your own ICCA or submitting a case study.</p>
            <a class="big-button u-push-top">Participate</a>
          </div>
        </div>
        <div class="col-four u-flex">
          <div class="circle-story circle-story--flex">
            <img src="<%= image_path("Dongwa_village.jpg") %>" srcset="<%= with2x("Dongwa_village.jpg") %>" class="home-hero-1 <%= bem('circle-story__circle', 'above', 'smaller') %>">
            <p class="circle-story__content u-center">Explore the world of ICCAs through the interactive map and case studies.</p>
            <a class="big-button u-push-top" href="<%= cms_page_path(@explore_page) %>">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
