<div class="u-hide o-overlay o-overlay--with-color" data-interest-modal data-block-page-trigger="interest" data-toggle-target="interest">
  <div class="modal u-base-color">
    <h3 class="header-with-delimiter">
      <%= t("home_page.interest_modal.header") %>
      <button data-toggle-trigger="interest" style="padding: 0;" class="u-link-color u-right" href="#"><i class="fa fa-times"></i></button>
    </h3>
    <p class="article__paragraph"><%= t("home_page.interest_modal.intro") %></p>
    <form data-interest-form action="<%= api_interest_submissions_path %>" method="POST">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <label class="row u-block" for="icca_name">
        <p><%= t("home_page.interest_modal.name_of_icca") %></p>
        <input id="icca_name" type="text" name="icca_name">
      </label>

      <label class="row u-block" for="country">
        <p><%= t("home_page.interest_modal.country") %></p>
        <input id="country" type="text" name="country">
      </label>

      <label class="row u-block" for="icca_size">
        <p><%= raw t("home_page.interest_modal.size_of_icca") %></p>
        <input id="icca_size" type="text" name="icca_size">
      </label>

      <label class="row u-block" for="email">
        <p><%= t("home_page.interest_modal.email_address") %></p>
        <input id="email" type="email" name="email">
      </label>

      <label class="row u-block" for="can_contact">
        <p><%= t("home_page.interest_modal.happy_to_contact") %></p>
        <div class="form__select-container">
          <select class="form__select" id="can_contact" name="can_contact">
            <option value="true"><%= t("home_page.interest_modal.yes") %></option>
            <option value="false"><%= t("home_page.interest_modal.no") %></option>
          </select>
        </div>
      </label>

      <hr class="row divider">

      <div class="u-text-right">
        <a style="margin-right: .75rem" class="u-link-color u-bold" data-toggle-trigger="interest" href="#"><%= t("home_page.interest_modal.cancel") %></a>
        <button class="big-button"><%= t("home_page.interest_modal.submit") %></button>
      </div>
    </form>
  </div>
</div>

<div class="u-hide o-overlay o-overlay--with-color" data-interest-success data-block-page-trigger="success" data-toggle-target="success">
  <div class="modal u-base-color">
    <h3 class="header-with-delimiter">
      <%= t("home_page.interest_modal.thank_you") %>
      <button data-toggle-trigger="interest" style="padding: 0;" class="u-link-color u-right" href="#"><i class="fa fa-times"></i></button>
    </h3>
    <p class="article__paragraph"><%= t("home_page.interest_modal.submitted_text") %></p>

    <button data-toggle-trigger="success" class="big-button"><%= t("home_page.interest_modal.go_back") %></button>
  </div>
</div>
