<div class="section">
  <h1 class="section__header">Latest case study</h1>
  <div class="section__body article">
    <img class="cover-story__cover cover-story__cover--above" src="<%= @last_case_study.photos.first.file.url %>">
    <p class="article__paragraph col-seven">
      <%= preview_page(@last_case_study) %>
    </p>
    <div class="col-four">
      <h2 class="article__title article__title--paragraph">
        <%= @last_case_study.label %>
        <a href="<%= cms_page_path(@last_case_study.icca_site.country.page) %>" class="u-bold link-with-icon link-with-icon--no-push link-with-icon--inherit u-link-color u-alt-font">
          <%= @last_case_study.icca_site.country.name %>
        </a>
      </h2>
      <a href="<%= cms_page_path(@last_case_study) %>" class="big-button u-push-top">Discover the case study</a>
    </div>
  </div>
</div>

