<div class="section">
  <h1 class="section__header"></h1>
  <div class="section__body">
    <div class="col-three">
      <h6 class="<%= bem('header-with-delimiter', 'smaller', 'same-padding-margin') %> u-inline-block u-bold">ICCA Registry Partners</h6>
      <p class="small-text">
        The ICCA Registry has a number of key funders and partners
        working at the local to international level, simultaneously
        seeking to provide support and recognition to ICCAs.
      </p>
    </div>
    <img class="logos__logo u-left" src="<%= image_path("UNDP_logo.jpg") %>" srcset="<%= with2x("UNDP_logo.jpg") %>" alt="">
    <img class="logos__logo u-left" src="<%= image_path("ICCA_Consortium_logo.jpg") %>" srcset="<%= with2x("ICCA_Consortium_logo.jpg") %>" alt="">
    <img class="logos__logo u-left" src="<%= image_path("IUCN_WCPA_logo.jpg") %>" srcset="<%= with2x("IUCN_WCPA_logo.jpg") %>" alt="">
    <img class="logos__logo u-left" src="<%= image_path("BMUB_logo.jpg") %>" srcset="<%= with2x("BMUB_logo.jpg") %>" alt="">
    <img class="logos__logo u-left" src="<%= image_path("GEF_logo.jpg") %>" srcset="<%= with2x("GEF_logo.jpg") %>" alt="">
    <img class="logos__logo u-left" src="<%= image_path("SGP_logo.gif") %>" srcset="<%= with2x("SGP_logo.gif") %>" alt="">
  </div>
</div>
