<div class="section">
  <h1 class="section__header"><%= t("home_page.icca_toolkit") %></h1>
  <div class="cover-story section__body">
    <div class="cover-story__story">
      <div class="cover-story__story-border"></div>
      <div class="<%= bem('cover-story__story-body', 'left') %>">
        <p class="cover-story__story-content">
          <%= t("home_page.icca_toolkit_text") %>
        </p>
        <a href="<%= asset_path("ICCA toolkit final Version 2.pdf") %>" class="big-button">
          <i class="fa fa-download link-with-icon__icon"></i>
          <%= t("home_page.icca_toolkit_download") %>
        </a>
      </div>
    </div>
    <div class="cover-story__cover home-toolkit-cover"></div>
  </div>
</div>


