<div class="container--fullscreen">
  <div class="container--push">
    <%= render layout: "banner" do %>
      <span class="alert__title alert__title--success">Are you interested in engaging with the ICCA Registry?</span>
      <br>
      <span>
        <button class="link-with-icon" data-toggle-trigger="interest">If you would like to express your interest, or would like further information, please let us know</button>
      </span>
    <% end %>
    <%= render partial: "hero" %>
    <%= render partial: "about" %>
    <%= render partial: "latest_study" %>
    <%= render partial: "data_manual" %>
    <%= render partial: "toolkit" %>
  </div>
  <%= render partial: "partners" %>
  <%= render partial: "interest_modal" %>
</div>

