<div class="container--fullscreen">
  <div class="container--push">
    <%= render partial: "hero" %>
    <%= render partial: "about" %>
    <%= render partial: "latest_study" %>
    <%= render partial: "toolkit" %>
  </div>
  <%= render partial: "partners" %>
</div>
