<div class="container--fullscreen">
  <div class="container--push">
    <%= render layout: "banner" do %>
      <span class="alert__title alert__title--success"><%= t("home_page.interest_banner") %></span>
      <br>
      <span>
        <button class="link-with-icon" data-toggle-trigger="interest"><%= t("home_page.interest_banner_text") %></button>
      </span>
    <% end %>
    <%= render partial: "hero" %>
    <%= render partial: "about" %>
    <%= render partial: "latest_study" %>
    <%= render partial: "data_manual" %>
    <%= render partial: "toolkit" %>
  </div>
  <%= render partial: "partners" %>
  <%= render partial: "interest_modal" %>
</div>

