<div class="page-header">
  <h2>
    <%= @country.name %>
  </h2>
</div>

<%= bootstrap_form_for @country, url: {action: "update"} do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :iso_3 %>

  <%= f.form_group :class => 'form-actions' do %>
    <%= f.submit "Update #{@country.name}", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel'), admin_countries_path, :class => 'btn btn-link' %>
  <% end %>
<% end %>

