<p>Hello,</p>

<p>A new ICCA site was submitted with the following details:</p>

<ul>
  <li>Email: <%= @submission.email %></li>
  <li>ICCA site: <%= @submission.icca_name %></li>
  <li>ICCA size: <%= @submission.icca_size %></li>
  <li>Country: <%= @submission.country %></li>
  <li>Can contact: <%= @can_contact %></li>
</ul>

<p>Best regards,</p>
<p>The ICCA Registry</p>
