<div class="navbar navbar--darker">
  <div class="<%= bem('navbar__element', :right, :thinner, 'push-right') %> js-navbar-actionable">
    <button class="js-trigger">
      English <i class="fa fa-chevron-down"></i>
    </button>

    <div class="u-hide js-target dropdown u-font-inherit">
      <div class="dropdown__inner">
        <a class="dropdown__element u-font-inherit" href="/en">English</a>
        <a class="dropdown__element u-font-inherit" href="/fr">French</a>
      </div>
    </div>
  </div>
</div>

<nav class="navbar">
  <div class="navbar__element navbar__element--bigger">
    <%= link_to "ICCA Registry", root_path %>
  </div>

  <div class="navbar__element js-dropdown navbar__element--right">
    <button data-dropdown-trigger> About <i class="fa fa-chevron-down"></i> </button>

    <div data-dropdown-target class="u-hide dropdown">
      <div class="dropdown__inner">
        <% @about_page.children.each do |page| %>
          <a class="dropdown__element" href="<%= cms_page_path(page) %>"><%= page.label %></a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="navbar__element navbar__element--right"><%= link_to 'Explore', cms_page_path(@explore_page) %></div>
  <div class="navbar__element js-dropdown navbar__element--right">
    <button data-dropdown-trigger> Participate <i class="fa fa-chevron-down"></i> </button>

    <div data-dropdown-target class="u-hide dropdown">
      <div class="dropdown__inner">
        <% @participate_page.children.each do |page| %>
          <a class="dropdown__element" href="<%= cms_page_path(page) %>"><%= page.label %></a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="navbar__element navbar__element--right"><%= link_to 'Contact us', contact_us_path %></div>
  <div class="<%= bem("navbar__element", "with-separator", "right", "larger") %>">
    <a href="<%= root_path %>" class="link-with-icon link-with-icon--no-color"> <i class="fa fa-search"></i> Search</a>
  </div>
</nav>
