<div class="form-group row">
  <%= form.label :photos, :class => 'col-form-label col-sm-2 text-sm-right' %>
  <div class="col-sm-10 ">
    <% @page.photos.each do |photo| %>
      <div>
        <%= image_tag photo.file.variant(resize: "50x50") %>
        <%= link_to("Delete image", admin_photo_path(photo), method: :delete, class: "btn btn-danger") %>
      </div>
    <% end %>

    <%= file_field_tag "images[]", type: :file, multiple: true, class: "form-control", id: "images" %>
  </div>
</div>


<div class="form-group row">
  <%= form.label :resources, :class => 'col-form-label col-sm-2 text-sm-right' %>
  <div class="col-sm-10">
    <ul class="list-group py-2 ">
      <% @page.resources.each do |resource| %>
        <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
          <%= resource.label %>
          <%= link_to("Delete resource", admin_resource_path(resource), method: :delete, class: "btn btn-danger") %>
        </li>
      <% end %>
    </ul>

    <div class="js-add-resources">
      <div class="js-target-resources py-2"></div>
      <div class="js-buttons-resources d-flex">
        <button class="js-trigger-resources btn btn-primary">Add new resource</button>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <%= form.label :related_links, :class => 'col-form-label col-sm-2 text-sm-right' %>
  <div class="col-sm-10">
    <ul class="list-group py-2 ">
      <% @page.related_links.each do |related_link| %>
        <li class="list-group-item w-100 d-flex justify-content-between align-items-center">
          <%= related_link.label %>
          <%= link_to("Delete related link", admin_related_link_path(related_link), method: :delete, class: "btn btn-danger") %>
        </li>
      <% end %>
    </ul>

    <div class="js-add-related-links">
      <div class="js-target-related-links py-2"></div>
      <div class="js-buttons-related-links d-flex">
        <button class="js-trigger-related-links btn btn-primary">Add new Related Link</button>
      </div>
    </div>
  </div>
</div>
