<% if @cms_page.country.icca_sites.any? %>
  <aside class="info-box info-box--fill-color">
    <section class="col-six">
      <h2 class="info-box__header header-with-delimiter header-with-delimiter--bold"><%= t("explore.icca_sites_in") %><%= @cms_page.label %></h2>
      <ul class="article__list article__list--less-margin info-box__body">
        <% @cms_page.country.icca_sites.each do |icca_site| %>
          <li class="article__list-item">
            <% if icca_site.pages.first %>
              <a class="article__link" href="<%= cms_page_path(icca_site.pages.first) %>"><%= icca_site.name %></a>
            <% else %>
              <%= icca_site.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
    <section class="col-six">
      <h2 class="info-box__header header-with-delimiter header-with-delimiter--bold"><%= t("links") %></h2>
      <p class="info-box__body"></p>
    </section>
  </aside>
<% else %>
  <aside class="alert alert--flex alert--push">
    <span class="fa-stack alert__icon alert__icon--info">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-info alert__icon-inner alert__icon-inner--info fa-stack-1x"></i>
    </span>

    <div>
      <h4 class="alert__title alert__title--info"><%= t("no_sites") %></h4>
      <p class="alert__body"><%= t("no_sites_text") %></p>
    </div>
  </aside>
<% end %>
