<div class="page--news">
  <%= render partial: "cms/hero-article", locals: { 
    image: fallback_hero
  } %>

  <section class="news-article__content container--medium">
    <p class="news-article__date"><%= cms_fragment_content_datetime(:published_date, @cms_page).strftime("%Y-%m-%d") %></p>
    <h2 class="news-article__title"><%= cms_fragment_render("title") %></h2>
  </section>

  <section class="news-article__content container--medium">
    <%= cms_fragment_render("content") %>
  </section>

  <section class="news-article__links container--medium">
    <ul class="list--links">
      <% unless @cms_page.resources.blank? %>
        <% get_resources.each do |resource| %>
          <li class="list__li">
            <span><%= resource[:title] %></span>
            <%= link_to resource[:button], resource[:url], title: resource[:title], class: "list__a button--download", target: '_blank' %>
          </li>
        <% end %>
      <% end %>
      <% unless @cms_page.related_links.blank? %>
        <% @cms_page.related_links.each do |link| %>
          <li class="list__li">
            <span><%= link.label %></span>
            <%= link_to 'Link', link.url, title: link.label, class: "list__a button--link-external", target: '_blank' %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <section class="container--medium">
    <%= render partial: "cms/article/social-share" %>
  </section>

  <section class="container">
    <%= render "cms/article/other-articles", locals: { items: get_news_items } %>
  </section>
</div>